body {
	/* padding-top: 65px; */
}

/* horizontal margins on wide screens */
@media (min-width: 768px) {
	.container { width: 36em; }
}

code {
	font-size: .8em;
	/* display: block; */
	white-space: pre-wrap;
}

.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* .btn { */
/* 	margin: 0 1.5em 0 1.5em; */
/* } */

.edit-project {
	margin-top: 2em;
	margin-bottom: 2em;
}

h1, h2, h3, h4 { }

html,body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;

}
.hero.is-success {
	background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box {
	margin-top: 5rem;
}
.avatar {
	margin-top: -70px;
	padding-bottom: 20px;
}
.avatar img {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
	font-weight: 300;
}
p {
	font-weight: 700;
}
p.subtitle {
	padding-top: 1rem;
}

/* inputfile js for bulma from https://jsfiddle.net/chintanbanugaria/uzva5byy/ */

.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		
		z-index: -1;
    margin-top:10px;
}
.inputfile + label {
	 
		/* 20px */
		width: 50%;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		padding-left: 0.75em;
		padding-right: 0.75em;
		border: 1px solid #dbdbdb;
		height: 2.285em;
		box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
		line-height: 1.5rem;
		border-radius: 3px;
		padding-top: 0.3em;
    
		/* 10px 20px */
}
.no-js .inputfile + label {
		display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
		border-color: #00d1b2;
}
.inputfile + label * {
		/* pointer-events: none; */
		/* in case of FastClick lib use */
}
.inputfile + label svg {
		width: 1em;
		height: 1em;
		line-height: 1.5rem;
		vertical-align: middle;
		margin-top: -0.25em;
		/* 4px */
		margin-right: 0.25em;
		/* 4px */		 
}
.inputfile-2 + label {
		border: 1px solid #dbdbdb;
}
.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
		border-color: #00d1b2;
}
