body {
	/* font-family: "arial"; */
	/* font-size: 22px; */
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	/* padding-top: 65px; */
}

/* horizontal margins on wide screens */
@media (min-width: 768px) {
	.container { width: 36em; }
}

code {
	font-size: .8em;
	/* display: block; */
	white-space: pre-wrap;
}

.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* .btn { */
/* 	margin: 0 1.5em 0 1.5em; */
/* } */

.edit-project {
	margin-top: 2em;
	margin-bottom: 2em;
}

h1, h2, h3, h4 { }

/* p { */
/* 	letter-spacing: 0.01rem; */
/* 	font-style: normal; */
/* 	line-height: 1.5; */
/* } */

/* img { */
/* 	width: auto; */
/* 	height: auto; */
/* 	max-width: 100%; */
/* 	vertical-align: middle; */
/* 	overflow: hidden; */
/* } */

html,body {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	font-weight: 300;
}
.hero.is-success {
	background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box {
	margin-top: 5rem;
}
.avatar {
	margin-top: -70px;
	padding-bottom: 20px;
}
.avatar img {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
	font-weight: 300;
}
p {
	font-weight: 700;
}
p.subtitle {
	padding-top: 1rem;
}
