<section class="hero is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-4 is-offset-4">
				<h3 class="title has-text-grey">toaster.do</h3>
				<h4 class="subtitle has-text-grey">sign up for a new account</h4>
				<div class="box">
					<figure class="avatar"><img src="/static/img/cafudda.jpg" /></figure>
					<form action="/signup" method="post">
						<div class="field">
							<div class="control"><input class="input" name="name" placeholder="Name" type="text" /></div>
						</div>
						<div class="field">
							<div class="control"><input class="input" name="email" placeholder="Email" type="email" /></div>
						</div>
						<div class="field">
							<div class="control"><input class="input" name="password" placeholder="Password" type="password" /></div>
						</div>
						<div class="field">
							<div class="control"><input class="input" name="repeat-password" placeholder="Repeat password" type="password" /></div>
						</div>
						<div class="field">
							<div class="control"><input class="button is-block is-info is-large is-fullwidth" type="submit" value="Sign In" /></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


