<footer class="footer">
	<div class="content has-text-centered">
		<p class="has-text-grey">toaster.do transforms your Docker prototype into an installable <a href="https://devuan.org">Devuan GNU+Linux</a> image, choose any supported target architecture.</p>
		<div class="columns is-variable is-8">
			<div class="column is-one-fifth">
				<figure class="image"><img alt="European project DECODE (H2020 nr. 732546)" src="/static/img/ec_logo.png" /></figure>
			</div>
			<div class="column is-one-fifth">
				<a href="https://decodeproject.eu">
					<figure class="image"><img alt="DECODE project" src="/static/img/decode_logo.png" /></figure>
				</a>
			</div>
			<div class="column is-one-fifth">
				<a href="https://www.dyne.org">
					<figure class="image"><img alt="Software by Dyne.org" src="/static/img/swbydyne.png" title="Software by Dyne.org" /></figure>
				</a>
			</div>
			<div class="column is-one-fifth">
				<a href="https://devuan.org">
					<figure class="image"><img alt="powered by Devuan GNU+Linux" src="/static/img/devuan_logo.png" /></figure>
				</a>
			</div>
			<div class="column is-one-fifth">
				<figure class="image"><img alt="Affero GPLv3 License" src="/static/img/AGPLv3.png" title="Affero GPLv3 License" /></figure>
			</div>
		</div>
	</div>
</footer>
