<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">toaster.do</h3>
                <h4 class="subtitle has-text-grey">from Docker to VM in a few clicks, powered by <a href="https://decodeproject.eu">DECODEproject.EU</a></h4>
                <p class="subtitle has-text-grey">please login to operate</p>
                <div class="box">
                    <figure class="avatar"><img src="/static/img/cafudda.jpg" /></figure>
                    <form action="/login" method="post">
                        <div class="field">
                            <div class="control has-icons-left">
								<input class="input is-large" name="username" placeholder="Email" type="email" /><span class="icon is-small is-left"><i class="fa fa-envelope fa-xs"></i></span></div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left"><input class="input is-large" name="password" placeholder="Password" type="password" /><span class="icon is-small is-left"><i class="fa fa-lock fa-xs"></i></span></div>
                        </div>
                        <div class="field">
                            <p class="control"><input class="button is-block is-info is-large has-icons-left is-fullwidth" type="submit" value="Login" /></p>
                        </div>
                    </form>
                </div>
                <p class="subtitle has-text-grey">...or <a href="/signup">signup for a new account</a></p>
            </div>
        </div>
    </div>
</section>
